cargo-features = ["profile-rustflags"]

[package]
name = "rusterize"
version = "0.2.0"
edition = "2021"
resolver = "2"

[lib]
name = "rusterize"
crate-type = ["cdylib"]

[dependencies]
dict_derive = "0.6.0"
geo = "0.29.3"
geo-types = "0.7.15"
geo-traits = "0.2.0"
geozero = "0.14.0"
geoarrow = "0.4.0-beta.3"
ndarray = { version = "0.16.1", features = ["rayon"] }
num_cpus = "1.16.0"
numpy = "0.23.0"
polars = { version = "0.46.0", features = ["lazy", "simd", "performant", "nightly"] }
pyo3 = { version = "0.23.4", features = ["extension-module", "abi3-py311", "generate-import-lib"] }
pyo3-arrow = "0.7.1"
pyo3-geoarrow = "0.1.0-beta.1"
pyo3-polars = { version = "0.20.0", features = ["lazy", "dtype-struct"] }
rayon = "1.10.0"

[patch.crates-io]
pyo3-geoarrow = { git = "https://github.com/geoarrow/geoarrow-rs" }
#geoarrow = { git = "https://github.com/geoarrow/geoarrow-rs" }

# OS-specific allocators
[target.'cfg(not(target_family = "unix"))'.dependencies]
mimalloc = { version = "*", default-features = false }

[target.'cfg(all(target_family = "unix", not(target_os = "macos")))'.dependencies]
tikv-jemallocator = { version = "*", features = ["disable_initial_exec_tls", "background_threads"] }

[target.'cfg(all(target_family = "unix", target_os = "macos"))'.dependencies]
tikv-jemallocator = { version = "*", features = ["disable_initial_exec_tls"] }

[profile.profiler]
inherits = "dev"
debug = true
lto = true
codegen-units = 1

[profile.dist-release]
inherits = "release"
rustflags = ["-C", "target-feature=+sse3,+ssse3,+sse4.1,+sse4.2,+popcnt,+cmpxchg16b,+avx,+avx2,+fma,+bmi1,+bmi2,+lzcnt,+pclmulqdq,+movbe"]
codegen-units = 1
lto = true