[package]
name = "rusterize"
version = "0.1.0"
edition = "2021"
resolver = "2"

# https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "rusterize"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.21.2", features = ["extension-module", "nightly", "abi3-py310"] }
numpy = { version = "0.21.0"}
blas-src = { version = "0.10.0", features = ["openblas"] }
#openblas-src = { version = "0.10.9", features = ["cblas", "system"] }  # was 0.10
polars = { version = "0.44.2", features = ["lazy", "object", "dtype-struct", "simd", "performant"] }
pyo3-polars = { version = "0.18.0", features = ["lazy", "object", "dtype-struct"] }
geo = { version = "0.29.3" }
geo-types = { version = "0.7.14" }
py_geo_interface = { version = "0.8.0" }
wkt = { version = "0.12.0" }

[target.'cfg(all(any(not(target_family = "unix"), allocator = "mimalloc"), not(allocator = "default")))'.dependencies]
mimalloc = { version = "0.1", default-features = false }
