[package]
name = "rusterize"
version = "0.1.0"
edition = "2021"

# https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "rusterize"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.23.2", features = ["extension-module"] }
ndarray = { version = "0.16.1", features = ["blas"] }
numpy = { version = "0.23.0" }
blas-src = { version = "0.10", features = ["openblas"] }
openblas-src = { version = "0.10", features = ["cblas", "system"] }
geo = "0.2.0"
wkb = "0.7.1"
