cargo-features = ["profile-rustflags"]

[package]
name = "rusterize"
version = "0.1.0"
edition = "2021"
resolver = "2"

[lib]
name = "rusterize"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.21.2", features = ["extension-module", "abi3-py310", "generate-import-lib"] }
numpy = "0.21.0"
ndarray = { version = "0.15.6", features = ["rayon"] }
polars = { version = "0.44.2", features = ["lazy", "simd", "performant", "nightly"] }
pyo3-polars = { version = "0.18.0", features = ["lazy", "dtype-struct"] }
geo = "0.29.3"
geo-types = "0.7.15"
py_geo_interface = "0.8.0"
rayon = "1.10.0"
dict_derive = "0.6.0"
num_cpus = "1.16.0"

# OS-specific allocators
[target.'cfg(not(target_family = "unix"))'.dependencies]
mimalloc = { version = "*", default-features = false }

[target.'cfg(all(target_family = "unix", not(target_os = "macos")))'.dependencies]
tikv-jemallocator = { version = "*", features = ["disable_initial_exec_tls", "background_threads"] }

[target.'cfg(all(target_family = "unix", target_os = "macos"))'.dependencies]
tikv-jemallocator = { version = "*", features = ["disable_initial_exec_tls"] }

[profile.profiler]
inherits = "dev"
debug = true
lto = true
codegen-units = 1

[profile.dist-release]
inherits = "release"
rustflags = ["-C", "target-feature=+sse3,+ssse3,+sse4.1,+sse4.2,+popcnt,+cmpxchg16b,+avx,+avx2,+fma,+bmi1,+bmi2,+lzcnt,+pclmulqdq,+movbe"]
codegen-units = 1
lto = true

