name: CI

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  linux:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
          - runner: ubuntu-22.04
            target: aarch64
          - runner: ubuntu-22.04
            target: armv7
          - runner: ubuntu-22.04
            target: ppc64le
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Store RUSTFLAGS in ENV for x86_64
        if: matrix.platform.target == 'x86_64'
        id: features
        run: |
          FEATURES=+sse3,+ssse3,+sse4.1,+sse4.2,+popcnt,+cmpxchg16b,+avx,+avx2,+fma,+bmi1,+bmi2,+lzcnt,+pclmulqdq,+movbe
          echo "features=$FEATURES" >> $GITHUB_OUTPUT
      - name: Set RUSTFLAGS for x86_64
        if: matrix.platform.target == 'x86_64'
        env:
          FEATURES: ${{ steps.features.outputs.features }}
        run: |
          echo "RUSTFLAGS=-C target-feature=$FEATURES" >> $GITHUB_ENV
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --profile dist-release --out dist --find-interpreter
          sccache: "true"
          manylinux: manylinux_2_28
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-linux-${{ matrix.platform.target }}
          path: dist

  musllinux:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
          - runner: ubuntu-22.04
            target: aarch64
          - runner: ubuntu-22.04
            target: armv7
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Store RUSTFLAGS in ENV for x86_64
        if: matrix.platform.target == 'x86_64'
        id: features
        run: |
          FEATURES=+sse3,+ssse3,+sse4.1,+sse4.2,+popcnt,+cmpxchg16b,+avx,+avx2,+fma,+bmi1,+bmi2,+lzcnt,+pclmulqdq,+movbe
          echo "features=$FEATURES" >> $GITHUB_OUTPUT
      - name: Set RUSTFLAGS for x86_64
        if: matrix.platform.target == 'x86_64'
        env:
          FEATURES: ${{ steps.features.outputs.features }}
        run: |
          echo "RUSTFLAGS=-C target-feature=$FEATURES" >> $GITHUB_ENV
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --profile dist-release --out dist --find-interpreter
          sccache: "true"
          manylinux: manylinux_2_28
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-musllinux-${{ matrix.platform.target }}
          path: dist

  windows:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: windows-latest
            target: x64
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
          architecture: ${{ matrix.platform.target }}
      - name: Store RUSTFLAGS in ENV for x64
        if: matrix.platform.target == 'x64'
        id: features
        shell: bash
        run: |
          FEATURES=+sse3,+ssse3,+sse4.1,+sse4.2,+popcnt,+cmpxchg16b,+avx,+avx2,+fma,+bmi1,+bmi2,+lzcnt,+pclmulqdq,+movbe
          echo "features=$FEATURES" >> $GITHUB_OUTPUT
      - name: Set RUSTFLAGS for x64
        if: matrix.platform.target == 'x64'
        env:
          FEATURES: ${{ steps.features.outputs.features }}
        run: |
          echo "RUSTFLAGS=-C target-feature=$FEATURES" >> $GITHUB_ENV
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --profile dist-release --out dist --find-interpreter
          sccache: "true"
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-windows-${{ matrix.platform.target }}
          path: dist

  macos:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: macos-15-intel
            target: x86_64
          - runner: macos-14
            target: aarch64
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Store RUSTFLAGS in ENV for x86_64
        if: matrix.platform.target == 'x86_64'
        id: features
        run: |
          FEATURES=+sse3,+ssse3,+sse4.1,+sse4.2,+popcnt,+cmpxchg16b,+avx,+avx2,+fma,+bmi1,+bmi2,+lzcnt,+pclmulqdq,+movbe
          echo "features=$FEATURES" >> $GITHUB_OUTPUT
      - name: Set RUSTFLAGS for x86_64
        if: matrix.platform.target == 'x86_64'
        env:
          FEATURES: ${{ steps.features.outputs.features }}
        run: |
          echo "RUSTFLAGS=-C target-feature=$FEATURES" >> $GITHUB_ENV
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --profile dist-release --out dist --find-interpreter
          sccache: "true"
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-macos-${{ matrix.platform.target }}
          path: dist

  sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build sdist
        uses: PyO3/maturin-action@v1
        with:
          command: sdist
          args: --out dist
      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          name: wheels-sdist
          path: dist

  publish-to-pypi:
    name: Publish to PyPI
    needs: [linux, musllinux, windows, macos, sdist]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/rusterize
    permissions:
      id-token: write
    steps:
      - name: Download sdists and wheels
        uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
